<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".EditSleepActivity"
            android:exported="false" />
        <activity
            android:name=".NappyFeedingActivity"
            android:exported="false" />
        <activity
            android:name=".EditFeedingActivity"
            android:exported="false" />
        <activity
            android:name=".EditTemperateActivity"
            android:exported="false" />
        <activity
            android:name=".TemperateSummaryActivity"
            android:exported="false" />
        <activity
            android:name=".TempreateActivity"
            android:exported="false" />
        <activity
            android:name=".TemperateHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".NappySummaryActivity"
            android:exported="false" />
        <activity
            android:name=".NappyActivity"
            android:exported="false" />
        <activity
            android:name=".SleepingSummaryActivity"
            android:exported="false" />
        <activity
            android:name=".SleepingActivity"
            android:exported="false" />
        <activity
            android:name=".SleepHistroyActivity"
            android:exported="false" />
        <activity
            android:name=".NappyHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".FeedingSummaryActivity"
            android:exported="false" />
        <activity
            android:name=".FeedingHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".FeedingActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>